@{
    ViewData["Title"] = "Livros";
}

@model IEnumerable<LivroDto>

<div class="container mt-4">
    <div class="d-flex justify-content-end align-items-center mb-4">
        <a asp-action="CadastrarLivro" class="btn btn-primary">Cadastrar Livro</a>
    </div>

    @if (TempData["Mensagem"] != null)
    {
        <partial name="_MensagemPartial" model='TempData["Mensagem"]' />
    }
    

    @if (Model == null || !Model.Any())
    {
        <div class="text-center mt-5 sem-livros">
            <p>Nenhum livro cadastrado</p>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var livro in Model)
            {
                <div class="col-md-4 col-lg-3 mb-4">
                    <a asp-action="DetalhesLivro" asp-route-IdLivro="@livro.IdLivro" class="text-decoration-none text-dark">
                        <div class="card" style="width: 15rem;">
                            @if (!string.IsNullOrEmpty(livro.CapaUrl))
                            {
                                <img src="@livro.CapaUrl" alt="Capa do livro @livro.Titulo" class="rounded-1" style="height: 22rem; width: 15rem;" />
                            }
                            else
                            {
                                <div>
                                    <div class="card-img-top bg-secondary d-flex align-items-center justify-content-center" style="height: 17rem; width: 15rem;">
                                    <span class="text-white">Imagem indisponível</span>
                                    </div>
                                    <div class="card-body">
                                        <span class="card-subtitle">@livro.Titulo</span>
                                        <p class="card-text"><small class="text-muted">Autor: @livro.Autor</small></p>
                                    </div>
                                </div>
                                
                            }
                            
                        </div>
                    </a>
                </div>
            }
        </div>
    }
</div>